<h3>Listado de Proveedores</h3>

<a class="btn btn-primary float-md-right" routerLink="/addprovee"><i class="fas fa-plus"></i> Añadir nuevo proveedor</a>
<br>

<div class="table-responsive">
<table class="table table-bordered table-striped tabla" style="margin-top: 40px;">
    <thead>
        <tr class="filters">
            <th>Nombre</th>
            <th>Correo Electrónico</th>
            <th>Telefono</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr id="loading-proveedores">
            <td colspan="5">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </td>
        </tr>
        <tr *ngFor="let proveedor of proveedores">
            <td>{{ proveedor.nombre }}</td>
            <td><a href="mailto:{{ proveedor.email }}">{{ proveedor.email }}</a></td>
            <td>{{ proveedor.telefono }}</td>
            <td>
                <button type="button" class="btn btn-success"
                    routerLink="/editprovee/{{ proveedor.id$ }}"><i class="fas fa-edit"></i></button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="eliminarProveedor(proveedor.id$)"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>
</div>
