<div class="row">
    <div class="col-md-6 offset-md-3">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h4>Iniciar sesión</h4>

            <label>Correo Electrónico</label>
            <input type="email" id="inputEmail" class="form-control" formControlName="email" required autofocus>

            <label>Contraseña</label>
            <input type="password" id="inputPassword" class="form-control" formControlName="password" required>

            <br>
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Iniciar sesión</button>
        </form>
        <p class="alert alert-danger" *ngIf="mensaje">
            El usuario o contraseña no es correcto
        </p>
        <hr>
        <p>¿No dispone de una cuenta?</p>
        <button type="button" class="btn btn-outline-primary" routerLink="/registro">Registrarse</button>
    </div>
</div>